.productCard {
    margin: 0 auto;
    margin-bottom: 2em;

    /* flex-grow: 33.333%; */
    flex: 0 0 calc(33.333% - 30px);
    font-family: "pretendard";
    flex-direction: column-reverse;
    align-items: center;

    display: flex;

    min-width: 300px;



}

.productCard>h2 {
    font-family: "Pret~endard";
    padding: 1em 0;
    font-size: 1.1em;
}

.productCard>a {
    display: inline-block;
    cursor: pointer;
    height: 100%;
    text-align: center;
}

.productCard > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 컨테이너를 꽉 채우도록 설정 */
}

@media screen and (min-width:1024px) {
	/* Desktop */
}
@media screen and (min-width:768px) and (max-width: 1023px) {
	/* Tablet */
}
@media screen and (max-width:767px){ 
    /* Mobile */
}