.banner {
    padding: 5% 4%;
    position: relative;
    display: flex;
    justify-content: center;

}

.prev,
.next {
    all: unset;
    cursor: pointer;
    /* 버튼처럼 커서 설정 */
    display: inline-block;
    /* 버튼의 레이아웃 유지 */
    padding: 10px;
    /* 클릭 가능한 영역 추가 */
}

.prev img,
.next img {
    display: block;
    /* 이미지를 블록으로 처리 */
    max-width: 20px;
    height: auto;
}

.prev {
    position: absolute;
    left: 4%;
    top: 50%;
}

.next {
    position: absolute;
    right: 4%;
    top: 50%;

    transform: scaleX(-1);
}




/* slide */



/* ==================== product ==================== */
.productSection {
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.productSection>h2 {
    font-family: "Abhaya Libre";
    font-size: 2.3rem;
    padding: 3em;
    box-sizing: border-box;
}

.productCardWrapper{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.productSection > button{
    
    
    font-family: 'Abhaya Libre';
    font-size: 1.2em;
    font-weight: 100;
    color: white;

   
    background-color: #7081C0;

    border-radius: 50px;
    
}

.productSection > button > a{
    display: inline-block;
    text-decoration: none;
    padding: 0.5em 1em;
    box-sizing: border-box;
}





/* ==================== AboutUS ==================== */
.aboutSection {
    padding: 0 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.aboutSection>h2 {
    font-family: "Abhaya Libre";

    font-size: 2.3rem;
    padding: 3em;
    box-sizing: border-box;
}


@media screen and (min-width:1024px) {
	/* Desktop */
}

@media screen and (max-width:767px){ 
	/* Mobile */
}
